<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.unipd.dei.esp1920.quickynews">

    <!--permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_news"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_news_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"

        android:usesCleartextTraffic="true"> <!---TODO N.B.: pongo a true questo valore in quanto,anche se mi viene intercettato il contenuto delle news non mi importa -->


        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>
                <category
                    android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity 
            android:name=".settings.Settings"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".NewsDetailActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".settings.SeekBarDownload"
            android:parentActivityName=".settings.Settings">
        </activity>

        <activity
            android:name=".settings.CategoriesSettings"
            android:parentActivityName=".settings.Settings">
        </activity>

        <activity
            android:name=".settings.FontSize"
            android:parentActivityName=".settings.Settings">
        </activity>
    </application>

</manifest>
